{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>聊天室 - [房主：{{ room.master }} ||房间名： {{ room.room_name }}]</title>
    <script type="text/javascript" src="{% static jquery-3.2.1.min.js %}"></script>
    <script type="text/javascript">

    </script>
</head>
<body>
<h3>{{ room.room_name }}</h3>
<hr>
<div class="messages"></div>
<hr>
<div class="send">
    <form id="send_message">
        <button>发送</button>
    </form>
    <textarea cols="50" rows="4" name="content" form="send_message" placeholder="请输入点什么吧"></textarea>
</div>
</body>
</html>