<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>选择聊天室</title>
</head>
<body>
聊天室：
<form action="{% url 'IntoRoom' %}" method="post">
    {% csrf_token %}
    {% for chatroom in chatrooms %}
        <input type="radio" name="chatroom"
               value="{{ chatroom.id }}">房间[{{ chatroom.room_name }}][{{ chatroom.master }}]
    {% endfor %}
    <br>
    <input type="submit" value="进入房间">
</form>
<hr>
<br>
<form action="{% url 'CreateChatroom' %}" method="POST">
    {% csrf_token %}
    房间名称：<input type="text" name="room_name" placeholder="请输入房间名称"><br>
    房间密码：<input type="password" name="room_password" placeholder="可以为空"><br>
    <input type="submit" value="创建一个聊天室">
</form>
<br>
<hr>
在线人员：
<from>
    {% for user in users %}
        <input type="checkbox" name="user" value="{{ user.username }}">{{ user.username }}
    {% endfor %}
</from>
<hr>
</body>
</html>